{% extends "library/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="table-responsive" style="text-align: center;">
        <img style="width: 150px" class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <table class="table" style="width: 100%;">
          <tr><td>Username   </td><td> {{ user.username }}</td></tr>
          <tr><td>Email      </td><td> {{ user.email }}</td></tr>
        </table>
       <br/>
       <button><a href="{% url 'home' %}">Back</a></button>
       </div>
      </div>
{% endblock content %}