{% load crispy_forms_tags %}

{% block content %}
 <form class="form-control" method="POST">
     {% csrf_token %}
     <fieldset class="form-group">
         <legend class="border-bottom mb-4">New Book</legend>
         {{ form|crispy }}
         <br/>
         <input style="background-color: lightgreen;color: white" type="submit"/>
         <a href="{% url 'home' %}" style="padding:2px; display: inline;background-color: red;color:white">Cancel</a>
     </fieldset>
 </form>
{% endblock content %}
