{% extends "library/base.html" %}

{% load crispy_forms_tags %}
{% block title %} EDIT BOOK {% endblock %}
{% block heading %} EDIT BOOK {% endblock %}
{% block content %}
 <form class="form-control" method="POST">
     {% csrf_token %}
     <fieldset class="form-group">
         <legend class="border-bottom mb-4">Edit Book</legend>
         {{ form|crispy }}
         <br/>
         <button class="btn-primary btn" type="submit">Submit</button>
         <a class="btn-primary btn" href="{% url 'home' %}">Cancel</a>
     </fieldset>
 </form>
{% endblock content %}
