
{% extends "library/base.html" %}

{% block content %}
<br/>
{% if not requests %}
<div class="alert-primary">No new request!</div>
{% else %}
{% for request in requests %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{ request.request_user}}</h2>
        <h2 class="card-text">{{ request.request_book_title }}</h2>
        <p class="card-text">Book Code: {{ request.request_book_code }}</p>
        <a class="btn-primary btn" href="{% url 'confirm_return' request.pk %}">Confirm Return</a>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}