{% extends "library/base.html" %}

{% block content %}
<br/>
<input type="text" id="searchbook" onkeyup="findBook()" placeholder="Search for book.." title="Type in book name">

<br/> <br/>
<div>
<a class='btn-primary btn' href="{% url 'add_new_book' %}">Add book</a>
</div>
<br/>
{% for book in books %}
<div class="card">
    <div class="card-body">
            <h5 class="card-title">Title : {{ book.title }}</h5>
            <p class="card-text">Author : {{ book.author }}</p>
            <p class="card-text">Book Code : {{ book.book_code }}</p>
            <p class="card-text">Available : {% if book.is_available %}Yes{% else %}Non{% endif %}</p>
            {% if issued_to %}
            <p class="card-text">Issued To : {{ book.issued_to }}</p>
            <p class="card-text">Issued Date : {{ book.issued_date }}</p>
            <p class="card-text">Return Date : {{ book.returned_date }}</p>
            {% endif %} 
        <br/>
        <a class="btn-primary btn" href="{% url 'edit_book' book.pk %}">Edit Book</a>
        <a id="delete_book"  class="btn-primary btn" href="{% url 'delete_book' book.pk %}">Delete Book</a>
    </div>
</div>
{% endfor %}
<script>
function findBook() {
search_for = $('#searchbook').val().toLowerCase();
titles = $('.card-title');
bookcards = $('.card');

  for (let i=0; i<titles.length; i++){
    title = titles[i].innerText.toLowerCase();
    match = title.indexOf(search_for);
    if (match > -1){
      bookcards[i].style.display = "block"
    }
    else{
          bookcards[i].style.display = "none"
    }
  }
}

const link = document.querySelector("#delete_book");
link.addEventListener("click", (event) => {
    response = confirm("Are you sure you want to delete this book?");
    if  (response){
        alert("Deleting Book");
    }
    else{
        alert("Aborting!");
        event.preventDefault();
        event.stopPropagation();
    }
});
</script>
{% endblock %}