
{% extends "library/base.html" %}
{% block title %} MANAGE RETURN REQUESTS {% endblock %}
{% block heading %} MANAGE RETURN REQUESTS {% endblock %}
{% block content %}
<br/>
{% if not requests %}
<div class="alert-primary">No new request!</div>
{% endif %}

{% for request in requests %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{ request.request_user}}</h2>
        <h2 class="card-text">{{ request.request_book_title }}</h2>
        <p class="card-text">Book Code: {{ request.request_book_code }}</p>
        <a id="confirm_request" onclick="confirm_return" class="btn-primary btn" href="{% url 'confirm_return' request.pk %}">Confirm Return</a>
    </div>
</div>
{% endfor %}

<script>
const link = document.querySelector("#confirm_request");

link.addEventListener("click", (event) => {
    response = confirm("Confirm book received?");
    if (response) {
        alert("Updated book status");
    }
    else {
        alert("Aborting!");
        event.preventDefault();
        event.stopPropagation();
    }
});
</script>{% endblock %}