{% extends "library/base.html" %}
{% load static %}
{% block title %} MANAGE BOOKS {% endblock %}
{% block heading %} MANAGE BOOKS {% endblock %}
{% block content %}
<br/>
<script src="{% static 'library/js/search_books.js' %}"></script>

<input type="text" id="searchbook" onkeyup="findBook()" placeholder="Search for book.." title="Type in book name">

<br/> <br/>
<div>
<a class='btn-primary btn' href="{% url 'add_new_book' %}">Add book</a>
</div>
<br/>
{% for book in books %}
<div class="card">
    <div class="card-body">
            <h5 class="card-title">Title : {{ book.title }}</h5>
            <p class="card-text">Author : {{ book.author }}</p>
            <p class="card-text">Book Code : {{ book.book_code }}</p>
            <p class="card-text">Available : {% if book.is_available %}Yes{% else %}No{% endif %}</p>
            {% if book.issued_to %}
            <p class="card-text">Issued To : {{ book.issued_to }}</p>
            <p class="card-text">Issued Date : {{ book.issued_date| date:"d-m-Y" }}</p>
            <p class="card-text">Return Date : {{ book.returned_date| date:"d-m-Y" }}</p>
            {% endif %} 
        <br/>
        <a class="btn-primary btn" href="{% url 'edit_book' book.pk %}">Edit Book</a>
        <a id="delete_book"  class="btn-primary btn" href="{% url 'delete_book' book.pk %}">Delete Book</a>
    </div>
</div>
{% endfor %}

<script>
const link = document.querySelector("#delete_book");
link.addEventListener("click", (event) => {
    response = confirm("Are you sure you want to delete this book?");
    if  (response){
        alert("Deleting Book");
    }
    else{
        alert("Aborting!");
        event.preventDefault();
        event.stopPropagation();
    }
});
</script>
{% endblock %}