{% extends "library/base.html" %}

{% block title %} MANAGE USERS {% endblock %}
{% block heading %} MANAGE USERS {% endblock %}
{% block content %}
<p id="user_detail">Total users registered (including admin) : {{ users|length }}</p>

<br/>
<input type="text" id="searchuser" onkeyup="findUser()" placeholder="Search for user.." title="Type in user name" />
{% for user in users %}
{% if not user.is_superuser %}
<div class="card">
    <div class="card-body">
        <img style="width: 100px" class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <h1 class="card-title">{{ user.username }}</h1>
        <p class="card-text">Email: {{ user.email }}</p>
        <p class="card-text">Date Joined: {{ user.date_joined| date:"d-m-Y" }}</p>
        <p class="card-text">Mobile No.: {{ user. }}</p>
        <p class="card-text">Icard No.: {{ user.}}</p>
        <!-- <p class="card-text">Total books borrowed:</p>
        <p class="card-text">Total books penalties:</p> -->
        {% if not user.is_superuser %}
        <a id="delete_user" class="btn-primary btn" href="{% url 'delete_user' user.pk %}">Delete</a>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}

<script>
const link = document.querySelector("#delete_user");
link.addEventListener("click", (event) => {
    response = confirm("Are you sure you want to delete this user?");
    if (response) {
        alert("Deleting User");
    }
    else {
        alert("Aborting!");
        event.preventDefault();
        event.stopPropagation();
    }
});

function findUser() {
    search_for = $('#searchuser').val().toLowerCase();
    titles = $('.card-title');
    console.log(titles)
    usercards = $('.card');
    for (let i = 0; i < titles.length; i++) {
        title = titles[i].innerText.toLowerCase();
        match = title.indexOf(search_for);
        if (match > -1) {
            usercards[i].style.display = "block"
        }
        else {
            usercards[i].style.display = "none"
        }
    }
}
</script>
{% endblock %}